<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Election Polls{% endblock %}</title>
</head>

<body>
    <div>
        {% block content %}{% endblock content %}
        <div>
            <p>
                <a href="{% url 'pu-result' %}">Card 1</a>
            </p>
            <p>
                <a href="{% url 'lga-result-request' %}">Card 2</a>
            </p>
            <p>
                <a href="{% url 'add-pu' %}">Card 3</a>
            </p>
    </div>
    </div>
    
</body>

</html>